{:deps    {org.clojure/clojure     {:mvn/version "1.11.1"}
           org.clojure/tools.cli   {:mvn/version "1.0.219"}
           rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}}
 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}
           :dev   {:extra-paths ["test" "notebooks"]
                   :extra-deps  {scicloj/tablecloth {:mvn/version "7.007"}}}
           ;; `clojure -T:build test` will run the tests
           :test  {:extra-paths ["test" "notebooks"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                 io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                                 scicloj/tablecloth     {:mvn/version "7.007"}}}
           ;; `clojure -M:dev:gen verbose` will create the tests
           :gen   {:main-opts ["-m" "scicloj.note-to-test.v1.main"]}}}
